html, body, div#root, div.App-Main {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #cbdee9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-label, .btn {
  color: #1b545e
}

#newaccountform {
  -ms-flex-align: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
